body{
    height: 105vh;
    width: 98.8vw;
    background-image: url("..\..\assets\TheCow.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:  100vw 165vh;
    margin-top: -50px;
}
h1{
    background: linear-gradient(330deg, #ff0000 0%, #ffbb00 25%, #eeff00 50%, #5eff00 75%, #00fff2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 100px;
    font-style: italic;
}

