<nav class="navbar">
  <div class="collapse navbar-collapse" id="navbarcollapsecontent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/search">Search</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink= "/home" id = "navbarDropdown" role = "button" data-toggle = "dropdown" aria-haspopup ="true" aria-expanded="false">
        EDIT
      </a>
      <div class= "dropdown-menu" aria-labelledby="navbarDropdown">
        <a class= "dropdown-item" routerLink = "/create">Create</a>
        <a class= "dropdown-item" routerLink = "/read">Read</a>
        <a class= "dropdown-item" routerLink = "/update">Update</a>
        <a class= "dropdown-item" routerLink = "/delete">Delete</a>
      </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>