<app-root-navigation></app-root-navigation>
<table class="Room-Table">
    <thead>
      <th>Room ID</th>
      <th>Room Name</th>
      <th>Floor</th>
      <th>Office ID</th>
      <th>Date Created</th>
      <th>Last Updated</th>
      <th>Update/Delete</th>
    </thead>
    <tr tableCol *ngFor="let room of rooms">
        <td>{{room.room_id}}</td>
        <td>{{room.room}}</td>
        <td>{{room.floor}}</td>
        <td>{{room.fk_office_id}}</td>
        <td>{{room.date_created}}</td>
        <td>{{room.last_update}}</td>
        <td class= 'update-delete-btn'>
          <button type="submit" (ngSubmit)='updateSubmit()'>update</button>
          <button type="submit" (ngSubmit)='deleteSubmit()'>delete</button>
        </td>
      </tr>
  </table>
  <form [formGroup]='roomForm' (ngSubmit)='addRoom()'>
    <label>
      Room Name:<br><input type="text" formControlName="name"><br>
    </label>
    <label>
      Floor Number:<br><input type="text" formControlName="floor"><br>
    </label>
    <label>
      Office ID:<br><input type="text" formControlName="office_id"><br>
    </label>
    <button type="submit" [disabled] ="!roomForm.valid">ADD</button>
  </form>