<app-root-navigation></app-root-navigation>
<table class="Room-Table">
    <thead>
      <th>Room ID</th>
      <th>Room Name</th>
      <th>Floor</th>
      <th>Office ID</th>
      <th>Date Created</th>
      <th>Last Updated</th>
    </thead>
  </table>
  <form [formGroup]='roomForm' (ngSubmit)='createSubmit()'>
    <label>
      Room Name:<br><input type="text" formControlName="name"><br>
    </label>
    <label>
      Floor Number:<br><input type="text" formControlName="floor"><br>
    </label>
    <label>
      Office ID:<br><input type="text" formControlName="office_id"><br>
    </label>
    <button type="submit" [disabled] ="!roomForm.valid">ADD</button>
  </form>