<app-root-navigation></app-root-navigation>
<table class="Lease-Table">
    <thead>
      <th>Lease ID</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Date Created</th>
      <th>Last Updated</th>
    </thead>
  </table>
  <form [formGroup]='leaseForm' (ngSubmit)='createSubmit()'>
    <label>
      Lease Start Date:<input type="text" formControlName="start_date">
    </label>
    <label>
      Lease End Date:<input type="text" formControlName="end_date">
    </label>
    <button type="submit" [disabled] ="!leaseForm.valid">ADD</button>
  </form>