<app-root-navigation></app-root-navigation>
<table class="Lease-Table">
    <thead>
      <th>Lease ID</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Date Created</th>
      <th>Last Updated</th>
    </thead>
    <tr tableCol *ngFor="let lease of leases">
        <td>{{lease.lease_id}}</td>
        <td>{{lease.start_date}}</td>
        <td>{{lease.end_date}}</td>
        <td>{{lease.date_created}}</td>
        <td>{{lease.last_update}}</td>
      </tr>
  </table>
  <form [formGroup]='leaseForm' (ngSubmit)='createSubmit()'>
    <label>
      Lease Start Date:<br><input type="text" formControlName="start_date"><br>
    </label>
    <label>
      Lease End Date:<br><input type="text" formControlName="end_date"><br>
    </label>
    <button type="submit" [disabled] ="!leaseForm.valid">ADD</button>
  </form>