<app-root-navigation></app-root-navigation>
<table class="Lease-Table">
    <thead>
      <th>Lease ID</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Date Created</th>
      <th>Last Updated</th>
      <th>Update/Delete</th>
    </thead>
    <tr tableCol *ngFor="let lease of leases">
        <td>{{lease.lease_id}}</td>
        <td>{{lease.start_date}}</td>
        <td>{{lease.end_date}}</td>
        <td>{{lease.date_created}}</td>
        <td>{{lease.last_update}}</td>
        <td class= 'update-delete-btn'>
          <button (click) ='updateFillIn(lease)'>update</button>
          <button (click) ='deleteLease(lease.lease_id)'>delete</button>
        </td>
      </tr>
  </table>
  <ng-template *ngIf="!toggleUpdateButton;then show; else notShow"></ng-template>
<ng-template #show>
  <form (submit)='addLease()'>
    <div Class="form-group">
      <label>Lease Start Date:</label>
      <input type="text" [(ngModel)]="start_date" name="start_date" class="form-control" required>
      <label>Lease End Date:</label>
      <input type="text" [(ngModel)]="end_date" name="end_date" class="form-control" required>
    </div>
    <input type="submit" class="btn btn btn-success" value="Add">
  </form>
</ng-template>
<ng-template #notShow>
  <form (submit)='updateLease()'>
    <div Class="form-group">
      <label>Lease Start Date:</label>
      <input type="text" [(ngModel)]="start_date" name="start_date" class="form-control" required>
      <label>Lease End Date:</label>
      <input type="text" [(ngModel)]="end_date" name="end_date" class="form-control" required>
    </div>
    <input type="submit" class="btn btn btn-success" value="UPDATE">
  </form>
</ng-template>