<app-root-navigation></app-root-navigation>
<table class="View-Table">
  <thead>
    <th>Equipment ID</th>
    <th>Equipment Name</th>
    <th>Equipment Type</th>
    <th>Active?</th>
    <th>Lease ID</th>
    <th>Vendor</th>
    <th class="th-employee-id">Employee ID</th>
    <th class="th-room-id">Room ID</th>
  </thead>
  <tr tableCol *ngFor="let view of views">
        <td>{{view.equipment_id}}</td>
        <td>{{view.name}}</td>
        <td>{{view.type}}</td>
        <td>{{view.active}}</td>
        <td>{{view.fk_lease_id}}</td>
        <td>{{view.vendor}}</td>
        <td>{{view.fk_employee_id}}</td>
        <td>{{view.fk_room_id}}</td>
</table>


