<app-root-navigation></app-root-navigation>
<table class="Type-Table">
    <thead>
      <th>Type ID</th>
      <th>Type Name</th>
      <th>Date Created</th>
      <th>Last Updated</th>
      <th>Update/Delete</th>
    </thead>
    <tr tableCol *ngFor="let type of types">
        <td>{{type.type_id}}</td>
        <td>{{type.type}}</td>
        <td>{{type.date_created}}</td>
        <td>{{type.last_update}}</td>
        <td class= 'update-delete-btn'>
          <button type="submit" (ngSubmit)='updateSubmit()'>update</button>
          <button type="submit" (ngSubmit)='deleteSubmit()'>delete</button>
        </td>
      </tr>
  </table>
<form [formGroup]='typeForm' (ngSubmit)='createSubmit()'>
    <label>
      Type Name:<input type="text" formControlName="name">
    </label>
    <button type="submit" [disabled] ="!typeForm.valid">ADD</button>
  </form>