<app-root-navigation></app-root-navigation>
<table class="Type-Table">
  <thead>
    <th>Type ID</th>
    <th>Type Name</th>
    <th>Date Created</th>
    <th>Last Updated</th>
    <th>Update/Delete</th>
  </thead>
  <tr tableCol *ngFor="let type of types">
    <td>{{type.type_id}}</td>
    <td>{{type.type}}</td>
    <td>{{type.date_created}}</td>
    <td>{{type.last_update}}</td>
    <td class= 'update-delete-btn'>
      <button (click) ='updateFillIn(type)'>update</button>
      <button (click) ='deleteType(type.type_id)'>delete</button>
    </td>
  </tr>
</table>
<ng-template *ngIf="!toggleUpdateButton;then show; else notShow"></ng-template>
<ng-template #show>
  <form (submit)='addType()'>
    <div Class="form-group">
      <label>Type Name:</label>
      <input type="text" [(ngModel)]="name" name="type" class="form-control" required>
    </div>
    <input type="submit" class="btn btn btn-success" value="Add">
  </form>
</ng-template>
<ng-template #notShow>
  <form (submit)='updateType()'>
    <div Class="form-group">
      <label>Type Name:</label>
      <input type="text" [(ngModel)]="name" name="type" class="form-control" required>
    </div>
    <input type="submit" class="btn btn btn-success" value="UPDATE">
  </form>
</ng-template>