<nav class="navbar">
  <div class="collapse navbar-collapse" id="navbarcollapsecontent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/home">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/view">View</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink= "/crud" id = "navbarDropdown" role = "button" data-toggle = "dropdown" aria-haspopup ="true" aria-expanded="false">
        CRUD
      </a>
      <div class= "dropdown-menu" aria-labelledby="navbarDropdown">
        <a class= "dropdown-item" routerLink = "/address">Address</a>
        <a class= "dropdown-item" routerLink = "/city">City</a>
        <a class= "dropdown-item" routerLink = "/county">County</a>
        <a class= "dropdown-item" routerLink = "/employee">Employee</a>
        <a class= "dropdown-item" routerLink = "/inventory">Inventory</a>
        <a class= "dropdown-item" routerLink = "/lease">Lease</a>
        <a class= "dropdown-item" routerLink = "/office">Office</a>
        <a class= "dropdown-item" routerLink = "/room">Room</a>
        <a class= "dropdown-item" routerLink = "/type">Type</a>
        <a class= "dropdown-item" routerLink = "/Vendor">Vendor</a>
      </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
