<app-root-navigation></app-root-navigation>
<table class="Address-Table">
  <thead>
    <th>Address ID</th>
    <th>Address</th>
    <th>Address 2</th>
    <th>District</th>
    <th>Postal Code</th>
    <th>City ID</th>
    <th>Date Created</th>
    <th>Last Updated</th>
    <th>Update/Delete</th>
  </thead>
  <tr tableCol *ngFor="let address of addresses">
    <td>{{address.address_id}}</td>
    <td>{{address.address}}</td>
    <td> 
      <ng-template *ngIf="address.address2 != null;then showAdd; else notShowAdd">
      </ng-template>
      <ng-template #showAdd><p>{{address.address2}}</p></ng-template>
      <ng-template #notShowAdd><p>N/A</p></ng-template>
    </td>
    <td>{{address.district}}</td>
    <td>
      <ng-template *ngIf="address.postal_code != null;then showPC; else notShowPC">
      </ng-template>
      <ng-template #showPC><p>{{address.postal_code}}</p></ng-template>
      <ng-template #notShowPC>
        <p>
          N/A
        </p>
      </ng-template>
    </td>
    <td>{{address.fk_city_id}}</td>
    <td>{{address.date_created}}</td>
    <td>{{address.last_update}}</td>
    <td class= 'update-delete-btn'>
      <button (click) ='updateFillIn(address)'>update</button>
      <button (click) ='deleteAddress(address.address_id)'>delete</button>
    </td>
  </tr>
</table>
<ng-template *ngIf="!toggleUpdateButton;then show; else notShow"></ng-template>
<ng-template #show>
  <form (submit)='addAddress()'>
    <div Class="form-group">
      <label>Address:</label>
      <input type="text" [(ngModel)]="name" name="address" class="form-control" required>
      <label>Address 2:</label>
      <input type="text" [(ngModel)]="address2" name="address2" class="form-control" required>
      <label>District:</label>
      <input type="text" [(ngModel)]="district" name="district" class="form-control" required>
      <label>Postal Code:</label>
      <input type="text" [(ngModel)]="postal_code" name="postal_code" class="form-control" required>
      <label>City ID:</label>
      <input type="text" [(ngModel)]="fk_city_id" name="fk_city_id" class="form-control" required>
     </div>
    <input type="submit" class="btn btn btn-success" value="Add">
  </form>
</ng-template>
<ng-template #notShow>
  <form (submit)='updateAddress()'>
    <div Class="form-group">
      <label>Address:</label>
      <input type="text" [(ngModel)]="name" name="address" class="form-control" required>
      <label>Address 2:</label>
      <input type="text" [(ngModel)]="address2" name="address2" class="form-control" required>
      <label>District:</label>
      <input type="text" [(ngModel)]="district" name="district" class="form-control" required>
      <label>Postal Code:</label>
      <input type="text" [(ngModel)]="postal_code" name="postal_code" class="form-control" required>
      <label>City ID:</label>
      <input type="text" [(ngModel)]="fk_city_id" name="fk_city_id" class="form-control" required>
     </div>
    <input type="submit" class="btn btn btn-success" value="UPDATE">
  </form>
</ng-template>
