<app-root-navigation></app-root-navigation>
<table class="Address-Table">
  <thead>
    <th>Address ID</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>District</th>
    <th>Postal Code</th>
    <th>City ID</th>
    <th>Date Created</th>
    <th>Last Updated</th>
  </thead>
  <tr tableCol *ngFor="let address of addresses">
    <td>{{address.address_id}}</td>
    <td>{{address.address1}}</td>
    <td> 
      <ng-template *ngIf="address.address2 != null;then show; else notShow">
      </ng-template>
      <ng-template #show>
        <p>
          {{address.address2}}
        </p>
      </ng-template>
      <ng-template #notShow>
        <p>
          N/A
        </p>
      </ng-template>
    </td>
    <td>{{address.district}}</td>
    <td>
      <ng-template *ngIf="address.postal_code != null;then show; else notShow">
      </ng-template>
      <ng-template #show>
        <p>
          {{address.postal_code}}
        </p>
      <ng-template #notShow>
        <p>
          N/A
        </p>
      </ng-template>
    </td>
    <td>{{address.fk_city_id}}</td>
    <td>{{address.date_created}}</td>
    <td>{{address.last_update}}</td>
  </tr>
</table>
<form [formGroup]='addressForm' (ngSubmit)='onSubmit()'>
  <label>
    Address 1:<input type="text" formControlName="address1">
  </label>
  <label>
    Address 2:<input type="text" formControlName="address2">
  </label>
  <label>
    District:<input type="text" formControlName="district">
  </label>
  <label>
    Postal Code:<input type="text" formControlName="postal_code">
  </label>
  <label>
      City ID:<input type = "text" formControlName ="city_id">
  </label>
  <button type="submit" [disabled] ="!addressForm.valid">ADD</button>
</form>

