<app-root-navigation></app-root-navigation>
<table class="Address-Table">
  <thead>
    <th>Address ID</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>District</th>
    <th>Postal Code</th>
    <th>City ID</th>
    <th>Date Created</th>
    <th>Last Updated</th>
  </thead>
  <tr tableCol *ngFor="let address of addresses">
    <td>{{address.address_id}}</td>
    <td>{{address.address}}</td>
    <td> 
      <ng-template *ngIf="address.address2 != null;then showAdd; else notShowAdd">
      </ng-template>
      <ng-template #showAdd><p>{{address.address2}}</p></ng-template>
      <ng-template #notShowAdd><p>N/A</p></ng-template>
    </td>
    <td>{{address.district}}</td>
    <td>
      <ng-template *ngIf="address.postal_code != null;then showPC; else notShowPC">
      </ng-template>
      <ng-template #showPC><p>{{address.postal_code}}</p></ng-template>
      <ng-template #notShowPC>
        <p>
          N/A
        </p>
      </ng-template>
    </td>
    <td>{{address.fk_city_id}}</td>
    <td>{{address.date_created}}</td>
    <td>{{address.last_update}}</td>
  </tr>
</table>
<form [formGroup]='addressForm' (ngSubmit)='onSubmit()'>
  <label>
    Address 1:<br><input type="text" formControlName="address"><br>
  </label>
  <label>
    Address 2:<br><input type="text" formControlName="address2"><br>
  </label>
  <label>
    District:<br><input type="text" formControlName="district"><br>
  </label>
  <label>
    Postal Code:<br><input type="text" formControlName="postal_code"><br>
  </label>
  <label>
      City ID:<br><input type = "text" formControlName ="fk_city_id"><br>
  </label>
  <button type="submit" [disabled] ="!addressForm.valid">ADD</button>
</form>

