<app-root-navigation></app-root-navigation>
<table class="Country-Table">
  <thead>
    <th>Country ID</th>
    <th>Country Name</th>
    <th>Date Created</th>
    <th>Last Updated</th>
    <th>Update/Delete</th>
  </thead>
  <tr tableCol *ngFor="let country of countries">
    <td>{{country.country_id}}</td>
    <td>{{country.country}}</td>
    <td>{{country.date_created}}</td>
    <td>{{country.last_update}}</td>
    <td class= 'update-delete-btn'>
      <button type="submit" (ngSubmit)='updateSubmit()'>update</button>
      <button type="submit" (ngSubmit)='deleteSubmit()'>delete</button>
    </td>
  </tr>
</table>
<form [formGroup]= 'countryForm' (ngSubmit)='addCountry()'>
  <label>Country Name: <br><input type ="text" formControlName ='country'></label><br>
  <button type="submit" [disabled] ="!countryForm.valid">ADD</button>
</form>
