<app-root-navigation></app-root-navigation>
<table class="Country-Table">
  <thead>
    <th>Country ID</th>
    <th>Country Name</th>
    <th>Date Created</th>
    <th>Last Updated</th>
    <th>Update/Delete</th>
  </thead>
  <tr tableCol *ngFor="let country of countries">
    <td>{{country.country_id}}</td>
    <td>{{country.country}}</td>
    <td>{{country.date_created}}</td>
    <td>{{country.last_update}}</td>
    <td class= 'update-delete-btn'>
      <button (click) ='updateFillIn(country)'>update</button>
      <button (click) ='deleteCountry(country.country_id)'>delete</button>
    </td>
  </tr>
</table>
<form (submit)='addCountry()'>
  <div Class="form-group">
    <label>Country Name</label>
    <input type="text" [(ngModel)]="name" name="country" class="form-control" required>
  </div>
  <ng-template *ngIf="!toggleUpdateButton;then show; else notShow"></ng-template>
  <ng-template #show><input type="submit" class="btn btn btn-success" value="Add"></ng-template>
  <ng-template #notShow><button class='updateButton' (click)="updateCountry()"
      [disabled]="!countryForm.valid">UPDATE</button></ng-template>
</form>
