<app-root-navigation></app-root-navigation>
<table class="Office-Table">
    <thead>
      <th>Office ID</th>
      <th>Office Name</th>
      <th>Phone Number</th>
      <th>Equipment Contact</th>
      <th>Address ID</th>
      <th>Date Created</th>
      <th>Last Updated</th>
      <th>Update/Delete</th>
    </thead>
    <tr tableCol *ngFor="let office of offices">
        <td>{{office.office_id}}</td>
        <td>{{office.office}}</td>
        <td>{{office.phone_number}}</td>
        <td>{{office.equipment_contact}}</td>
        <td>{{office.fk_address_id}}</td>
        <td>{{office.date_created}}</td>
        <td>{{office.last_update}}</td>
        <td class= 'update-delete-btn'>
          <button type="submit" (ngSubmit)='updateSubmit()'>update</button>
          <button type="submit" (ngSubmit)='deleteSubmit()'>delete</button>
        </td>
      </tr>
  </table>
  <form [formGroup]='officeForm' (ngSubmit)='addOffice()'>
    <label>
      Office Name:<br><input type="text" formControlName="name"><br>
    </label>
    <label>
      Office Phone Number:<br><input type="text" formControlName="phone_number"><br>
    </label>
    <label>
      Equipment_Contact:<br><input type="text" formControlName="equipment_contact"><br>
    </label>
    <label>
      Address ID:<br><input type="text" formControlName="fk_addres_id"><br>
    </label>
    <button type="submit" [disabled] ="!officeForm.valid">ADD</button>
  </form>