<app-root-navigation></app-root-navigation>
<table class="Inventory-Table">
    <thead>
      <th>Invetory ID</th>
      <th>Equipment ID</th>
      <th>Employee ID</th>
      <th>Room ID</th>
      <th>Date Created</th>
      <th>Last Updated</th>
    </thead>
    <tr tableCol *ngFor="let inventory of inventories">
        <td>{{inventory.inventory_id}}</td>
        <td>{{inventory.fk_equipment_id}}</td>
        <td>
          <ng-template *ngIf="inventory.fk_employee_id != null;then show; else notShow">
          </ng-template>
          <ng-template #show>
            <p>
              {{inventory.fk_employee_id}}
            </p>
          </ng-template>
          <ng-template #notShow>
            <p>
              N/A
            </p>
          </ng-template>
        </td>
        <td>
          <ng-template *ngIf="inventory.fk_room_id != null;then show; else notShow">
          </ng-template>
          <ng-template #show>
            <p>
              {{inventory.fk_room_id}}
            </p>
          </ng-template>
          <ng-template #notShow>
            <p>
              N/A
            </p>
          </ng-template>
        </td>
        <td>{{inventory.date_created}}</td>
        <td>{{inventory.last_update}}</td>
      </tr>
  </table>
  <form [formGroup]='inventoryForm' (ngSubmit)='addInventory()'>
    <label>
      Equipment ID:<br><input type="text" formControlName="fk_equipment_id"><br>
    </label>
    <label>
      Employee ID:<br><input type="text" formControlName="fk_employee_id"><br>
    </label>
    <label>
      Room ID:<br><input type="text" formControlName="fk_room_id"><br>
    </label>
    <button type="submit" [disabled] ="!inventoryForm.valid">ADD</button>
  </form>