<app-root-navigation></app-root-navigation>
<div class="background">
  <h2>
  You Probably Didn't Mean to Press this Button
</h2>
<h2>
  BUT SINCE YOU DID:
</h2>
  <table class= 'crud-table'>
    <thead>
      <th>C</th>
      <th>R</th>
      <th>U</th>
      <th>D</th>
    </thead>
    <tr>
      <td>R</td>
      <td>E</td>
      <td>P</td>
      <td>E</td>
    </tr>
    <tr>
      <td>E</td>
      <td>A</td>
      <td>D</td>
      <td>L</td>
    </tr>
    <tr>
      <td>A</td>
      <td>D</td>
      <td>A</td>
      <td>E</td>
    </tr>
    <tr>
      <td>T</td>
      <td></td>
      <td>T</td>
      <td>T</td>
    </tr>
    <tr>
      <td>E</td>
      <td></td>
      <td>E</td>
      <td>E</td>
    </tr>
  </table>
</div>

