<app-root-navigation></app-root-navigation>
<table class="City-Table">
  <thead>
    <th>City ID</th>
    <th>City Name</th>
    <th>Country ID</th>
    <th>Date Created</th>
    <th>Last Updated</th>
    <th>Update/Delete</th>
  </thead>
  <tr tableCol *ngFor="let city of cities">
    <td>{{city.city_id}}</td>
    <td>{{city.city}}</td>
    <td>{{city.fk_country_id}}</td>
    <td>{{city.date_created}}</td>
    <td>{{city.last_update}}</td>
    <td class='update-delete-btn'>
      <button type ="button" (click)='updateFillIn()'>update</button>
      <button type="button" (click)='deleteCity(city.city_id)'>delete</button>
    </td>
  </tr>
</table>
<ng-template *ngIf="!toggleUpdateButton;then show; else notShow"></ng-template>
<ng-template #show>
  <form (submit)='addaddress()'>
    <div Class="form-group">
      <label>City Name:</label>
      <input type="text" [(ngModel)]="name" name="city" class="form-control" required>
      <label>Country ID:</label>
      <input type="text" [(ngModel)]="fk_country_id" name="fk_country_id" class="form-control" required>
    </div>
    <input type="submit" class="btn btn btn-success" value="Add">
  </form>
</ng-template>
<ng-template #notShow>
  <form (submit)='updateAddress()'>
    <div Class="form-group">
      <label>City Name:</label>
      <input type="text" [(ngModel)]="name" name="city" class="form-control" required>
      <label>Country ID:</label>
      <input type="text" [(ngModel)]="fk_country_id" name="fk_country_id" class="form-control" required>
    </div>
    <input type="submit" class="btn btn btn-success" value="UPDATE">
  </form>
</ng-template>