<app-root-navigation></app-root-navigation>
<table class="City-Table">
  <thead>
    <th>City ID</th>
    <th>City Name</th>
    <th>Country ID</th>
    <th>Date Created</th>
    <th>Last Updated</th>
    <th>Update/Delete</th>
  </thead>
  <tr tableCol *ngFor="let city of cities">
    <td>{{city.city_id}}</td>
    <td>{{city.city}}</td>
    <td>{{city.fk_country_id}}</td>
    <td>{{city.date_created}}</td>
    <td>{{city.last_update}}</td>
    <td class= 'update-delete-btn'>
      <button type="submit" (ngSubmit)='updateSubmit()'>update</button>
      <button type="submit" (ngSubmit)='deleteSubmit()'>delete</button>
    </td>
  </tr>
</table>
<form [formGroup]='cityForm' (ngSubmit)='addCity()'>
  <label>
    City Name:<input type="text" formControlName="city">
  </label>
  <label>
    Country ID:<input type="text" formControlName="country_id">
  </label>
  <button type="submit" [disabled] ="!cityForm.valid">ADD</button>
</form>
