<app-root-navigation></app-root-navigation>
<table class="City-Table">
  <thead>
    <th>City ID</th>
    <th>City Name</th>
    <th>Country ID</th>
    <th>Date Created</th>
    <th>Last Updated</th>
    <th>Update/Delete</th>
  </thead>
  <tr tableCol *ngFor="let city of cities">
    <td>{{city.city_id}}</td>
    <td>{{city.city}}</td>
    <td>{{city.fk_country_id}}</td>
    <td>{{city.date_created}}</td>
    <td>{{city.last_update}}</td>
    <td class='update-delete-btn'>
      <button type ="button" (click)='toggleUpdateAdd()'>update</button>
      <button type="button" (click)='deleteSubmit(city)'>delete</button>
    </td>
  </tr>
</table>
<form [formGroup]='cityForm' (ngSubmit)='addCity()'>
  <label>
    City Name:<br><input type="text" formControlName="city"><br>
  </label>
  <label>
    Country ID:<br><input type="text" formControlName="fk_country_id"><br>
  </label>
  <ng-template *ngIf="!toggleUpdateButton;then show; else notShow"></ng-template>
  <ng-template #show><button type="submit" [disabled]="!cityForm.valid">ADD</button></ng-template>
  <ng-template #notShow><button (click)="updateCity()" [disabled]="!cityForm.valid">UPDATE</button></ng-template>
</form>
