<app-root-navigation></app-root-navigation>
<table class="Equipment-Table">
    <thead>
      <th>Equipment ID</th>
      <th>Name</th>
      <th>Active</th>
      <th>Warranty End Date</th>
      <th>Lease ID</th>
      <th>Vendor ID</th>
      <th>Type ID</th>
      <th>Date Created</th>
      <th>Last Updated</th>
      <th>Update/Delete</th>
    </thead>
    <tr tableCol *ngFor="let equipment of equipments">
        <td>{{equipment.equipment_id}}</td>
        <td>{{equipment.name}}</td>
        <td>{{equipment.active}}</td>
        <td>
          <ng-template *ngIf="equipment.warranty_end_date != null;then show; else notShow">
          </ng-template>
          <ng-template #show>
            <p>
              {{equipment.warranty_end_date}}
            </p>
          </ng-template>
          <ng-template #notShow>
            <p>
              N/A
            </p>
          </ng-template>
        </td>
        <td>
          <ng-template *ngIf="equipment.fk_lease_id != null;then show; else notShow">
          </ng-template>
          <ng-template #show>
            <p>
              {{equipment.fk_lease_id}}
            </p>
          </ng-template>
          <ng-template #notShow>
            <p>
              N/A
            </p>
          </ng-template>
        </td>
        <td>{{equipment.fk_vendor_id}}</td>
        <td>{{equipment.fk_type_id}}</td>
        <td>{{equipment.date_created}}</td>
        <td>{{equipment.last_update}}</td>
        <td class= 'update-delete-btn'>
          <button type="submit" (ngSubmit)='updateSubmit()'>update</button>
          <button type="submit" (ngSubmit)='deleteSubmit()'>delete</button>
        </td>
      </tr>
  </table>
  <form [formGroup]='equipmentForm' (ngSubmit)='addEquipment()'>
    <label>
      Equipment Name:<input type="text" formControlName="name">
    </label>
    <label>
      Active?:<input type="text" formControlName="active">
    </label>
    <label>
      Warranty End Date:<input type="text" formControlName="warranty_end_date">
    </label>
    <label>
      Lease ID:<input type="text" formControlName="fk_lease_id">
    </label>
    <label>
      Vendor ID:<input type="text" formControlName="fk_vendor_id">
    </label>
    <label>
      Type ID:<input type="text" formControlName="fk_type_id">
    </label>
    <label>
      Address ID:<input type="text" formControlName="fk_address_id">
    </label>
    <button type="submit" [disabled] ="!equipmentForm.valid">ADD</button>
  </form>