<app-root-navigation></app-root-navigation>
<table class="Employee-Table">
    <thead>
      <th>Employee ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Work Phone Number</th>
      <th>Email</th>
      <th>UserName</th>
      <th>Active</th>
      <th>Address ID</th>
      <th>Room ID</th>
      <th>Date Created</th>
      <th>Last Updated</th>
    </thead>
    <tr tableCol *ngFor="let employee of employees">
        <td>{{employee.employee_id}}</td>
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.phone_number}}</td>
        <td>{{employee.work_phone_number}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.username}}</td>
        <td>{{employee.active}}</td>
        <td>{{employee.fk_address_id}}</td>
        <td>{{employee.fk_room_id}}</td>
        <td>{{employee.date_created}}</td>
        <td>{{employee.last_update}}</td>
      </tr>
  </table>
  <form [formGroup]='employeeForm' (ngSubmit)='createSubmit()'>
    <label>
      First Name:<br><input type="text" formControlName="firts_name"><br>
    </label>
    <label>
      Last Name:<br><input type="text" formControlName="last_name"><br>
    </label>
    <label>
      Phone Number:<br><input type="text" formControlName="phone_number"><br>
    </label>
    <label>
      Work Phone Number:<br><input type="text" formControlName="work_number"><br>
    </label>
    <label>
      Email:<br><input type="text" formControlName="email"><br>
    </label>
    <label>
      Username:<br><input type="text" formControlName="username"><br>
    </label>
    <label>
      Address ID:<br><input type="text" formControlName="address_id"><br>
    </label>
    <label>
      Room ID:<br><input type="text" formControlName="room_id"><br>
    </label>
    <button type="submit" [disabled] ="!employeeForm.valid">ADD</button>
  </form>