<app-root-navigation></app-root-navigation>
<table class="Employee-Table">
    <thead>
      <th>Employee ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Work Phone Number</th>
      <th>Email</th>
      <th>UserName</th>
      <th>Active</th>
      <th>Address ID</th>
      <th>Room ID</th>
      <th>Date Created</th>
      <th>Last Updated</th>
      <th>Update/Delete</th>
    </thead>
    <tr tableCol *ngFor="let employee of employees">
        <td>{{employee.employee_id}}</td>
        <td>{{employee.first_name}}</td>
        <td>{{employee.last_name}}</td>
        <td>{{employee.phone_number}}</td>
        <td>{{employee.work_phone_number}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.username}}</td>
        <td>{{employee.active}}</td>
        <td>{{employee.fk_address_id}}</td>
        <td>{{employee.fk_room_id}}</td>
        <td>{{employee.date_created}}</td>
        <td>{{employee.last_update}}</td>
        <td class= 'update-delete-btn'>
          <button (click) ='updateFillIn(employee)'>update</button>
          <button (click) ='deleteEmployee(employee.employee_id)'>delete</button>
        </td>
      </tr>
  </table>
<ng-template *ngIf="!toggleUpdateButton;then show; else notShow"></ng-template>
<ng-template #show>
  <form (submit)='addEmployee()'>
    <div Class="form-group">
      <label>First Name:</label>
      <input type="text" [(ngModel)]="name" name="first_name" class="form-control" required>
      <label>Last Name:</label>
      <input type="text" [(ngModel)]="last_name" name="last_name" class="form-control" required>
      <label>Phone Number::</label>
      <input type="text" [(ngModel)]="phone_number" name="phone_number" class="form-control" required>
      <label>Work Phone Number:</label>
      <input type="text" [(ngModel)]="work_phone_number" name="work_phone_number" class="form-control" required>
      <label>Email:</label>
      <input type="text" [(ngModel)]="email" name="email" class="form-control" required>
      <label>Username:</label>
      <input type="text" [(ngModel)]="username" name="username" class="form-control" required>
      <label>Address ID:</label>
      <input type="text" [(ngModel)]="fk_address_id" name="fk_address_id" class="form-control" required>
      <label>Room ID:</label>
      <input type="text" [(ngModel)]="fk_room_id" name="fk_room_id" class="form-control" required>
    </div>
    <input type="submit" class="btn btn btn-success" value="Add">
  </form>
</ng-template>
<ng-template #notShow>
  <form (submit)='updateEmployee()'>
    <div Class="form-group">
      <label>First Name:</label>
      <input type="text" [(ngModel)]="name" name="first_name" class="form-control" required>
      <label>Last Name:</label>
      <input type="text" [(ngModel)]="last_name" name="last_name" class="form-control" required>
      <label>Phone Number::</label>
      <input type="text" [(ngModel)]="phone_number" name="phone_number" class="form-control" required>
      <label>Work Phone Number:</label>
      <input type="text" [(ngModel)]="work_phone_number" name="work_phone_number" class="form-control" required>
      <label>Email:</label>
      <input type="text" [(ngModel)]="email" name="email" class="form-control" required>
      <label>Username:</label>
      <input type="text" [(ngModel)]="username" name="username" class="form-control" required>
      <label>Address ID:</label>
      <input type="text" [(ngModel)]="fk_address_id" name="fk_address_id" class="form-control" required>
      <label>Room ID:</label>
      <input type="text" [(ngModel)]="fk_room_id" name="fk_room_id" class="form-control" required>
    </div>
    <input type="submit" class="btn btn btn-success" value="UPDATE">
  </form>
</ng-template>